# Introduction to python programming:

In [ ]:
# Understanding of variables in python:

In [13]:
x=2
y=6
z=x+y
print(z)

8

# Rules for declaring the variables:

In [ ]:
Rule no.1:No namesapaces while declaring the variable name.(namespace means space between the variable name)

In [5]:
First name='xyz'
print(First name)

SyntaxError: invalid syntax (944934071.py, line 1)

In [6]:
firstname='xyz'
print(firstname)

xyz

In [ ]:
Rule no.2: A variable name should not start with a number.(it means variable name can't be like 12abc)

In [7]:
1name="abcd"
print(1name)

SyntaxError: invalid decimal literal (3069103622.py, line 1)

In [8]:
name1="abcd"    #we can add number in between or end of the variable name but we can't start variable with number.
print(name1)

abcd

In [ ]:
Rule no.3:A variable name should not contain any special character like ! @ # $ &

In [15]:
name@='james'
print(name@)

SyntaxError: invalid syntax (2738240426.py, line 2)

In [ ]:
Introduction of datatypes in python:
    1.Strins->str
    2.Number->integers->int,floats(decimal)->1.1,3.4->float
    3.List->list
    4.Tuple->tuple
    5.Dictionaries->dict

In [ ]:
Classifiaction of datatypes:
    Broadly datatypes are classified in to two different category
    1.mutable datatypes->which we can able to edit/alter->flexible in nature.
    2.immutable datatypes->which we cannot able to edit/alter->fixed in nature.

In [ ]:
Introduction to string datatypes:
    
    Defination :a string is a series of characters declared in quotes(''or"")
        
    classification:immutable in nature
    1.single quote('')
    2.dounle quote("")

In [10]:
a='raj'
print(a)

raj

In [12]:
b="dolly"
print(b)

dolly